.main-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.top-container{
  margin-top: 100px;
  height: 1000px;
  min-width: 80%;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  
  background-color: grey;

}

.animated-text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.animated-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
@keyframes slideIn {
  from {
    top: -50px;
  }
  to {
    top: calc(50% - 25px);
  }
}

.img{
  width: 100%;
}

.dots-container{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 1%;
  z-index: 1;
}
.dots{
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.2s ease-in-out;
}

.dots:hover{
  transform: scale(1.8);
}

.selected{
  color:red;
}

