.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: #24426a;
  color: #fff;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.logo-container {
  width: 40px;
  flex-grow: 0;
}

.logo {
  width: 100%;
  height: auto;
}

.nav-links-container {
  display: flex;
  gap: 16px;
  flex-grow: 1;
  justify-content: center;
}

.nav-link {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
